body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    /* background: linear-gradient(90deg, #007bff, #00c6ff); */
    padding: 10px 0;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    color: rgb(5, 5, 5);
    font-size: 1.8em;
    font-weight: bold;
}

.navbar-nav .nav-link {
    margin: 0 15px;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover {
    background: rgba(43, 119, 190, 0.911);
}

.heading {
    text-align: center;
}